---
type Crumb = {
  name: string; // 表示用
  path?: string;
  schemaName?: string; // JSON-LD用
};

const {
  breadcrumbLists = [],
  breadcrumbClass = "",
  siteUrl = "",
} = Astro.props as {
  breadcrumbLists?: Crumb[];
  breadcrumbClass?: string;
  siteUrl?: string;
};

const items: Crumb[] = [{ name: "ホーム", path: "/", schemaName: "ホーム" }, ...breadcrumbLists];

const breadcrumbJsonLd =
  siteUrl
    ? JSON.stringify({
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        itemListElement: items.map((item, index) => {
          const itemPath =
            item.path ??
            (index === items.length - 1 ? Astro.url.pathname : "");

          return {
            "@type": "ListItem",
            position: index + 1,
            name: item.schemaName ?? item.name,
            item: `${siteUrl}${itemPath}`,
          };
        }),
      })
    : "";
---

<div class={breadcrumbClass}>
  <nav class="c-breadcrumb" aria-label="パンくずリスト">
    <ol class="c-breadcrumb-list">
      <li class="c-breadcrumb-item"><a href="/">ホーム</a></li>
      {breadcrumbLists.map((item, index) => {
        const isLast = index === breadcrumbLists.length - 1;

        return (
          <li class="c-breadcrumb-item">
            {!isLast && item.path ? (
              <a href={item.path}>{item.name}</a>
            ) : (
              <span aria-current="page">{item.name}</span>
            )}
          </li>
        );
      })}
    </ol>
  </nav>

  {breadcrumbJsonLd && (
    <script type="application/ld+json" set:html={breadcrumbJsonLd}></script>
  )}
</div>

<style is:global lang="scss">
  @use '../../styles/breakpoints' as *;

  .c-breadcrumb {
    padding-block-end: 88px;
    margin-block-start: 160px;
  }

  .c-breadcrumb-list {
    font-family: var(--font-family-serif);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: normal;
  }

  .c-breadcrumb-item {
    display: inline;
    position: relative;

    &:first-child {
      text-transform: uppercase;
    }

    &:last-child {
      color: var(--color-sub-green2);
    }

    &:not(:last-child) {
      padding-inline-end: 20px;
      &::after {
        content: ">";
        position: absolute;
        top: -1px;
        right: 7px;
      }
    }

    a {
      padding-block: 4px;
    }
  }
</style>
